extends layout

block content
    script(src='/javascripts/albumList.js')
    h1 Album list
    // USER LIST
    #albumList
        table
            thead
                th AlbumName
                th Artist
                th Year
                th Genre
            tbody
    // /USER LIST
    button#btnHome Home